body
{
    margin:0px;
    padding:0px;
}

.container
{
    width:600px;
    height:800px;
    background-color: #358597;
    margin:0px auto;
}

.container h1
{
    color:#358597;
    background-color: #fff;
    font-family: Myriad pro;
    font-weight: lighter;
    text-align: center;
    margin-bottom:30px;
    margin-top:0px;

}

#empty
{
    height:30px;

    display: block;
}

#innercontainer
{
    width:500px;
    height:650px;
    border:1px solid #fff;
    display: block;
    margin:0px auto;
}

input:focus,textarea:focus,select:focus
{
    outline: none;
}

.box
{
    width:300px;
    height:30px;
    font-family: Myriad pro;
    font-weight: lighter;
    color:#358597;
    font-size:17px;
    display: block;
    margin:30px auto;
    padding-left:10px;
    border:none;
}

.box::placeholder
{
    color:#358597;
}

#innercontainer textarea
{
    width:300px;
    height:100px;
    font-family: Myriad pro;
    font-weight: lighter;
    color:#8d8d8d;
    font-size:17px;
    display: block;
    margin:0px auto;
    padding-left:10px;
    margin-top:30px;
}

#submit
{
    width:100px;
    height:30px;
    margin:30px auto;
    display:block;
    color:#fff;
    background-color: #358597;
    border:1px solid #fff;
}

#submit:hover
{
    color:#358597;
    background-color: #fff;
    border:none;
}

#radiocontainer
{
    display:block;
    width:150px;
    margin:0px auto;
    color:#fff;
    font-family: Myriad pro;
    font-size:18px;
}

.radiobutton
{
    width:20px;
    height:20px;
    background-color:#fff;
    margin:30px auto;
    color:#358597
}

#birthdate
{
    width:310px;
    margin:0px auto;
    display:block;
}

#birthdate select
{
    width:100px;
    height:30px;
    font-size:15px;
    color:#358597;
    border:none;
}

#checkbox
{
    display:block;
    width:300px;
    color:#fff;
    text-decoration: none;
    border:0px;
    margin:30px auto;
    font-family: Myriad pro;
    font-size:14px;

}

#checkbox a
{
    color:#fff;
    text-decoration: none;
    font-weight: bolder;
    font-family: Myriad pro;
}