body
{
    margin:0px;
    padding:0px;
    font-family: Myriad pro;
    color:#fff;
}


a
{
    text-decoration: none;
    border:none;
}

.container
{
    height:1200px;
    width:1206px;
    margin:0px auto 0px auto;
}

.box
{
    width:400px;
    height:1200px;
    float:left; 
    margin:0px auto;
    padding:0px;
    background-color: #355c70;
    border:1px solid #fff;
}


.boxtitle
{
    background-color: #fff;
    color:#355c70;
    text-align: center;
    
}

.boxtitle h1,h2,h3
{
    margin:30px;
    text-align: center;
    padding:100px auto 0px auto;
}

.box img
{
    width:200px;
    margin:0px auto;
    display: block;
}

.box p
{
    text-align: justify;
    padding:0px 25px 0px 25px;
}

.box button
{
    width:200px;
    height:30px;
    margin:0px auto;
    display: block;
    color:#355c70;
    font-weight: bolder;
    font-size:15px;
}

.box table
{
    border:1px solid #fff;
    text-align: center;
    width:100%;
    margin:50px auto 50px auto;
    border-collapse: collapse;
}

.box td,th
{
    border:1px solid #fff;
    padding:8px;
}