body
{
    margin:0px;
    padding:0px;
}

.container
{
    width:500px;
    height:500px;
    background-color:#272727;
    margin:0px auto;
}

#btn
{
    width:200px;
    height:30px;
    background-color:#272727;
    border:1px solid #ffe400;
    color:#ffe400;
    margin:0px auto;
    display:block;
}

#output
{
    width:200px;
    height:200px;
    background-color: #fff;
    margin:0px auto;
    margin-top:100px;
}