body
{
    margin:0px;
    padding:0px;
    text-align: center;
}


#container
{
    width:800px;
    height:300px;
    background-color: #1a1a1d;
    margin:0px auto;
    text-align: center;
}

h1
{
    color:#c3073f;
    font-family: Myriad pro;
    font-size:30px;
    margin-top:30px;
    padding-top:35px;
}

#first,#second
{
    width:200px;
    height:30px;
    background-color: #c3073f;
    border:none;
    outline:none;
    font-family: Myriad pro;
    font-size:20px;
    color:#1a1a1d;
}

#first::placeholder,#second::placeholder
{
    color:#1a1a1d;
}

#sign
{
    width:200px;
    height:30px;
    outline: none;
    border:none;
    background-color: #c3073f;
    font-family: Myriad pro;
    font-size:20px;

}


#wrapper
{
    margin:0px auto;
    width:620px;

}

#output
{
    width:620px;
    height:50px;
    background-color: #fff;
    margin-bottom:20px;
    font-size:20px;
    font-family: Myriad pro;
}

button
{
    width:200px;
    height:30px;
    margin-top:30px;
    
    
    outline: none;
    font-family: Myriad pro;
    font-size:20px;
    

    color:#c3073f;
    background-color: #1a1a1d;
    border:1px solid #c3073f;
}

button:hover
{
    color:#1a1a1d;
    background-color: #c3073f;
    border:none;
}